/* --------------------------- */
/* Basic Setup */ 
/* --------------------------- */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color:#555;
    font-family:'Sawarabi Mincho',"Arial";
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* --------------------------- */
/* Reusable components */ 
/* --------------------------- */
body{
    background-color: rgb(147, 0, 10);
    color:black;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color:white;
    position: fixed;
    width: 100%;
    height: 10%;
    border: 1px solid purple;
    overflow: hidden;
    z-index: 300;
}
.logo{
    height: 45%;
    width: auto;
    margin: 0 auto;

}

h1{
    display: inline-block;
    font-size: 200%;
    color:maroon;
   
    padding: 0;
}

h2{
   
    color:#e67e22;
    text-align: center;
}
h3{
    color:#e67e22;
    font-family: cursive;
    text-align: center;
}

h4{
    text-align: center;
    color:#e67e22;
    
}
.section-about .box h2:after,
h4:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width:140px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
   
    
}

hr{
    width:80%;
    margin: 0 auto;
}


.main-nav{
    float: right;
    list-style: none;
   
    
    margin-top: 1.5%;
    
}

.main-nav li{
    display: inline-block;
    
    margin-left: 40px;
    
  
    
}
.main-nav a{
    text-decoration: none;
    color:Maroon;
}


.main-nav li:hover{
    background-color:Maroon;
    padding: 0 5px; 
    transition: background-color 2s, color 2s;

}
.main-nav a:hover{
    color: white;
}

section {
   
    padding: 80px 0;
  

}

main{
    background-image:linear-gradient(rgba(252, 245, 250, 0.84),rgba(255, 255, 255, 0.927));
    transition: background-image 2s;
}
main:hover{
    background-color: rgba(166,219,219);
    
}
.r1{
    width: 85%;
    margin: 0 auto;
}

.box img{
    width: 600px;
    height: 400px;
    display: block;
    padding:0% 2%;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    transform: scale(0.5);
   
    box-shadow: 1px 1px 1px 2px rgba(195, 194, 194, 0.742);
   
}

.box img:hover{
    transform: scale(1);
    transition: transform 2s;
}

.long-copy{
    text-align: justify;
    padding: 15px 30px;
    margin: 5% 0;
    background-color: rgba(85, 85, 85, 0.092);
    border-radius: 10px;
    
}

.long-copy:hover{
    box-shadow: 2px 2px 2px 15px   rgb(188, 187, 187);
    transition: box-shadow 2s;
}
.box .info{
    background-color: rgba(255, 255, 255, 0.229);
    margin: 5% auto;
    padding: 3%;
}

.section-vedio{
    padding:5%;
}



.box h3{
    font-weight: bold;
}

.box .info h4{
    color:blue;
}

.box .info h4:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width:80px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box .img1{
    transform: scale(1);
    margin-bottom: 30px;
    width: 100%;

}

.box .img1:hover{
    transform: scale(0.8);
   
}
.b{
    margin-bottom: 5%;
    margin-top: 0;
}

.section-vedio{
    background-color: rgba(206, 206, 206, 0.205);
    margin: 0 auto;
}
iframe{
    margin: 0 auto;
    margin-left: 6%;
}

.section-facilities{
    background-color: rgba(8, 16, 14, 0.733);
}
.section-facilities:hover,
.section-vedio:hover{
    background-color: rgb(159, 225, 228);
}
.section-facilities .box h2{
    text-align: left;
    margin: 0 10%;
    
}

.box h2:after{
    
    
    width:120px;
    margin:0 22% ;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.box .h:after{
    
    
    width:120px;
    margin:0 auto ;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.section-facilities .box .h{
    text-align: center;
    margin: 0 auto;
    
}

.section-facilities li{
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-left: 10%;
  
    
}

.facility{
    padding: 2%;
    background-color: rgba(246, 246, 246, 0.804);
}

.facility:hover{
    box-shadow: 1px 1px 1px 4px #888;
}

input[type=submit]{
    display: inline-block;
    padding: 3px 30px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
    
}


input[type=submit]{
    background-color: #e67e22;
    border:1px solid #e67e22;
    color:#fff;
    margin-right: 15px;

}
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}

footer{
    background-color: #333;
    padding: 30px;

}
.footer-nav{
    list-style: none;
    float: left;
}

.social-links li{
    list-style: none;
    float: right;
}

.footer-nav li,.icon{
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.icon:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    color:rgb(177, 177, 177);
    text-decoration: none;
    border: 0;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#ddd;
}
footer p{
    color:#888;
    text-align: center;
    font-size: 90%;
   

}

.icon{
    height: 40px;
    width: 40px;
}

.facility label{
    font-size: 80%;
}